.avatar {
    display: flex;
    justify-items: stretch;
    font-family: Century;
    font-size: 22px;
    font-weight: 900;
    margin: 10px 15px;

}

.statusMSG {
    font-family: "Californian FB";
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
}

.avatar img {
    height: 95px;
    width: 95px;
    margin-right: 15px;

}


.fullUsers {
    border: 3px solid black;
    width: 850px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    background-color: #cccccc;
}


.btnFoll {
    padding: 5px 25px;
    background-color: red;
    border-radius: 10px;
    margin-left: 18px;
}

.btnUnFoll {
    padding: 5px 15px;
    background-color: green;
    border-radius: 10px;
    margin-left: 18px;

}