.formControl {

}


.formControl.errorS input,
.formControl.errorS textarea {
    border: 4px solid red;
}


.formControl.errorS span{
    color:red;
    font-size: 15px;
}

.checkbox{
    margin-bottom: 25px;
}

.checkboxBlock{

    display: flex;
    justify-content: center;
    align-items: center;

}

