.header {
    grid-area: h;
    background: linear-gradient(90deg, rgb(173, 173, 173), rgb(109, 109, 109) 98%);
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between
}

.header img {
    width: 162px;
    margin-left: 10px;
    margin-top: 3px;
}
