.descriptionBlock {
    padding: 10px;
}
.title_img img{
    width:800px;
    height:450px;
    border-radius: 5px;
    margin-left: 95px;
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}






