.inputField input{
    height: 25px;
    margin: 7px 0;
    border-radius: 8px;

}

.checkBox{
    font-size: 15px;
    font-weight: 600;
    margin: 5px 0;
}


.btnLog{
    margin-left: 45px;
}

.btnLog button:hover{
    color: white;
    background-color: indianred;
}

.btnLog button{
    border-radius: 5px;
    padding: 5px;
    background-color: #c1bfff;
}


.form_summary_error{
    border:3px solid red;
    margin:5px 0;
    padding: 3px;
    color:#C21F39;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    font-family: "Bradley Hand ";
}
