.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas:
          'h h'
          'n c';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/

}

.app-wrapper-content {
    grid-area: c;
    background: linear-gradient(90deg, rgb(173, 173, 173), rgb(109, 109, 109) 98%);
    margin-top: 3px;
    border-radius: 5px;

}

.preloadApp{
    display: inline-block;
    margin:0 auto;
}